.container-fluid {
  background-color: black;
  padding: 2vh;
}

.outline {
  color: white;
  text-shadow: -5px -5px 20px #000, 5px -5px 20px #000, -5px 5px 20px #000, 5px 5px 20px #000;
}

h2 {
  margin-top: 16px;
  color: #ddd;
  font-style: italic;
}

h3 {
  font-style: italic;
}
