<div class="container-fluid">
  <h2>Poszukaj inspiracji na przygodę życia!</h2>
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/dva/assets/carousel/paris.jpg" class="d-block w-100" alt="paris">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="outline">Paryż</h1>
          <h3 class="outline">Odkryj stolicę Francji oraz... mody i miłości!</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/dva/assets/carousel/budapest.jpg" class="d-block w-100" alt="budapest">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="outline">Budapeszt</h1>
          <h3 class="outline">Przejedź się jedną z najstarszych linii metra na świecie!</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/dva/assets/carousel/stavanger.jpg" class="d-block w-100" alt="stavanger">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="outline">Stavanger</h1>
          <h3 class="outline">Fiordy będą jadły Ci z ręki!</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/dva/assets/carousel/turku.jpg" class="d-block w-100" alt="turku">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="outline">Turku/Helsinki</h1>
          <h3 class="outline">Odwiedź najbardziej wysuniętą na północ stolicę Europy!</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/dva/assets/carousel/eljat.jpg" class="d-block w-100" alt="eljat">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="outline">Eljat/Jerozolima</h1>
          <h3 class="outline">Poznaj kolebkę judaizmu, chrześcijaństwa oraz islamu!</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/dva/assets/carousel/stockholm.jpg" class="d-block w-100" alt="stockholm">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="outline">Sztokholm</h1>
          <h3 class="outline">Bezpośrednie połączenie z Warszawy oraz Katowic już od 39 zł!</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/dva/assets/carousel/praga.jpg" class="d-block w-100" alt="praha">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="outline">Praga</h1>
          <h3 class="outline">Stolica naszego południowego sąsiada na wyciągnięcie ręki!</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/dva/assets/carousel/toulouse.jpg" class="d-block w-100" alt="praha">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="outline">Tuluza</h1>
          <h3 class="outline">Odwiedź siedzibę podniebnego giganta - firmy AIRBUS!</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
