<div class="container-fluid">
  <div class="d-inline-flex">
    <div>
      <span>Ogólne warunki przewozu</span>
      <span>Warunki użytkowania</span>
      <span>Polityka prywatności</span>
      <span>Cookies</span>
      <span>Kontakt</span>
      <span>Preferencje dotyczące plików cookie</span>
    </div>
    <div>
      <h3>Zostańmy w kontakcie!</h3>
      <div class="social_icons">
        <a href="https://www.facebook.com/" target="blank"><img
            src="../../../assets/social_media_icons/facebook.png"></a>
        <a href="https://twitter.com/" target="blank"><img src="../../../assets/social_media_icons/twitter.png"></a>
        <a href="https://linkedin.com/" target="blank"><img src="../../../assets/social_media_icons/linkedin.png"></a>
        <a href="https://youtube.com/" target="blank"><img src="../../../assets/social_media_icons/youtube.png"></a>
        <a href="https://www.instagram.com/" target="blank"><img
            src="../../../assets/social_media_icons/instagram.png"></a>
      </div>
    </div>
    <div>
      <h3>Pobierz aplikację:</h3>
      <div class="app_icons">
        <a href="https://play.google.com/" target="blank"><img
            src="../../../assets/social_media_icons/googleplay.png"></a>
        <a href="https://www.apple.com/pl/" target="blank"><img
            src="../../../assets/social_media_icons/appstore.png"></a>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <p class="note">&copy; 2021 DaVinci Airlines by Marcin Rochowski, org. Collegium Da Vinci</p>
</div>
