<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="/dva/assets/dva_logo.png" routerLink="/homepage">
      </a>
      <div>
        <div *ngIf="this.authService.isloggedIn; then loggedBlock else notLoggedBlock"></div>
        <ng-template #loggedBlock>
          <span class="greeting" [routerLink]="['myflights']">
            Witaj,
            <strong>{{userName}}</strong>
            <mat-icon>person</mat-icon>
          </span>
          <span class="action" (click)="logout()">
            Wyloguj
            <mat-icon>power_settings_new</mat-icon>
          </span>
        </ng-template>
        <ng-template #notLoggedBlock>
          <span class="action" [routerLink]="['login']">
            Zaloguj/Zarejestruj
            <mat-icon>exit_to_app</mat-icon>
          </span>
        </ng-template>
      </div>
    </div>
  </nav>
</div>
