<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="/dva/assets/dva_logo.png" routerLink="/homepage"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" [routerLink]="['']">Strona Główna</a>
          <a class="nav-link" [routerLink]="['myflights']">Moje loty</a>
          <a class="nav-link" [routerLink]="['login']">Zaloguj</a>
          <a class="nav-link" href="#">Zarejestruj</a>
        </div>
      </div>
    </div>
  </nav>
</div>
