<div class="container-fluid">
  <h2>Przelicznik walut</h2>
  <div class="shadow">
    <form [formGroup]="currencyCalc">

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Kwota</mat-label>
          <input type="number" matInput formControlName="amount">
          <mat-error *ngIf="currencyCalc.get('amount')?.hasError('required')">Podaj kwotę, aby kontynuować
          </mat-error>
        </mat-form-field>
      </div>

      <div class="verse">

        <mat-form-field appearance="outline">
          <mat-label>Przelicz z:</mat-label>
          <mat-select formControlName="baseCurrency">
            <mat-option *ngFor="let item of myCurrencies" [value]="item.code"><img src={{item.url}}>{{item.currency}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="currencyCalc.get('baseCurrency')?.hasError('required')">Wybierz walutę, aby kontynuować
          </mat-error>
        </mat-form-field>

        <mat-icon class="arrows" (click)="swapCurrencies()">compare_arrows</mat-icon>

        <mat-form-field appearance="outline">
          <mat-label>Przelicz na:</mat-label>
          <mat-select formControlName="targetCurrency">
            <mat-option *ngFor="let item of myCurrencies" [value]="item.code"><img src={{item.url}}>{{item.currency}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="currencyCalc.get('targetCurrency')?.hasError('required')">Wybierz walutę, aby kontynuować
          </mat-error>
        </mat-form-field>

      </div>

      <div>
        <button type="button" class="btn btn-success" [disabled]="!currencyCalc.valid"
          (click)="openCurrexDialog()">Przelicz</button>
      </div>

    </form>

  </div>
</div>
