.container-fluid {
  height: 80vh;
  padding: 40px;
  background-image: url('/dva/assets/backgrounds/login.jpg');
  background-position: cover;
  background-size: cover;
  text-align: right;
}

.shadow {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.d-flex {
  justify-content: center;
}

.btn {
  margin-bottom: 20px;
  outline: none;
  box-shadow: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

h5 {
  display: inline-flex;
  cursor: pointer;
  margin: 0;
}

mat-form-field {
  margin-bottom: 6px;
}

@media (max-width: 767px) {
  .container-fluid {
    text-align: center;
  }
}
